<div class="instructions">
    <p style="font-size: 20px;">
        This website helps you to solve problems based on numerical methods. <br>
        Contact me: <a href="https://bhavinraichura.github.io/contact.html" target="_blank" style="color: white;">@bhavinraichura</a>
    </p>
</div>

<a href="{{url_for('bisectionMethod')}}">
    <div class="solution hs" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine"
        style="text-align: right;">
        <h2>Bisection Method</h2>
    </div>
</a>


<a href="{{url_for('newtonRaphson')}}">
    <div class="solution hs" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine"
        style="text-align:left;">
        <h2>Newton Raphson Method</h2>
    </div>
</a>

<a href="{{url_for('FalsePositionMethod')}}">

    <div class="solution hs" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine"
        style="text-align: right;">
        <h2>False Position Method</h2>
    </div>
</a>